# Pandas確認課題

このPandas確認問題は、データサイエンス100本ノックの問題で最低限必要な問題を抜粋したものですが、[Introduction_to_Pandas](./11_Introduction_to_Pandas.ipynb) に掲載されていない機能が必要な問題もあります。
初めて触るライブラリを調べながら使うというのはよくある光景です。この課題では皆さんにもそれに挑戦していただきます。  
ヒントとして検索キーワードなどを載せておくので、自力で調べながら解いてみましょう。

## 必要モジュールのインポート

この問題で使うモジュールをインポートします．

In [50]:
import pandas as pd
import numpy as np

## データの読み込み

In [51]:
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')

---
## 問1. 条件抽出
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [52]:
#列を並び替えたいときはreindex(columns=['(列名)', '(列名)', '(列名)'])
#行を並び替えたいときはreindex(index=['(行名)', '(行名)', '(行名)'])
df_receipt_reindex= df_receipt.reindex(columns=['sales_ymd', 'customer_id', 'product_cd','quantity','amount'])
df_receipt.query("1000 < amount | 5 < quantity & 'customer_id' == 'CS018205000001'")

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
17,20181225,1545696000,S13020,1172,2,ZZ000000000000,P071401002,1,1100
36,20180911,1536624000,S13018,1122,2,CS018205000001,P071401012,1,2200
40,20170501,1493596800,S13004,1192,2,CS004415000232,P090301078,1,1880
73,20170523,1495497600,S14028,1182,2,CS028415000203,P071401019,1,2200
75,20180310,1520640000,S14028,112,1,ZZ000000000000,P071401002,1,1100
...,...,...,...,...,...,...,...,...,...
104622,20170801,1501545600,S13017,1102,2,CS017515000174,P090701080,1,1280
104656,20170730,1501372800,S13005,1102,2,CS005515000093,P071401018,1,2200
104662,20191024,1571875200,S14011,1132,2,CS011411000001,P071401001,1,1100
104666,20170330,1490832000,S13017,1112,1,CS017411000016,P071401013,1,2200
104669,20190726,1564099200,S14006,1122,1,CS006615000114,P071301002,1,2485

---
## 問2. ソート
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭5件を全項目表示せよ。

In [53]:
#df.sort_values(by-'列名')は昇順
#df.sort_values(by='', ascending=False)で降順に並べ替え
df_customer_birth = df_customer.sort_values(by='birth_day')
df_customer_birth.head(5)

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
18817,CS003813000014,村山 菜々美,1,女性,1928-11-26,90,182-0007,東京都調布市菊野台**********,S13003,20160214,0-00000000-0
12328,CS026813000004,吉村 朝陽,1,女性,1928-12-14,90,251-0043,神奈川県藤沢市辻堂元町**********,S14026,20150723,0-00000000-0
15682,CS018811000003,熊沢 美里,1,女性,1929-01-07,90,204-0004,東京都清瀬市野塩**********,S13018,20150403,0-00000000-0
15302,CS027803000004,内村 拓郎,0,男性,1929-01-12,90,251-0031,神奈川県藤沢市鵠沼藤が谷**********,S14027,20151227,0-00000000-0
1681,CS013801000003,天野 拓郎,0,男性,1929-01-15,90,274-0824,千葉県船橋市前原東**********,S12013,20160120,0-00000000-0

---
## 問3. 全件数
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [54]:
df_receipt.count()

sales_ymd         104681
sales_epoch       104681
store_cd          104681
receipt_no        104681
receipt_sub_no    104681
customer_id       104681
product_cd        104681
quantity          104681
amount            104681
dtype: int64

## 問4. ユニーク件数
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [55]:
#ユニーク;重複しない→総件数ではなくIDの種類をカウントする？
#df.loc[行名, 列名]
df_customer_id = df_receipt.loc[:,"customer_id"]
df_customer_id.nunique()

8307

<details>
<summary>ヒント</summary>
「ユニーク」というのはそのまま検索に使える単語です。  
</details>

---
## 問5. 〇〇ごとに集計
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは先頭5件だけ表示せよ。

会員のみを抽出する方法は、例えば以下の2通りの方法があります。

In [56]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")

In [57]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
#df.groupby("含まれる要素ごとに分けたいカラムのカラム名")["平均値を出したいカラム"].mean()；今回はcustomer_idの要素ごとの売上金額の平均値を表す
#df_amount_sum;customer_idごとのamountの合計df
#1 行だけ、もしくは 1 列だけ抽出した場合は、シリーズ (series) オブジェクトが返される。
df_amount_sum = df_receipt_only_member.groupby("customer_id")["amount"].sum()
#entire_sum_mean;df_amount_sumのamount(customer_idごとの)の平均値
receipt_only_member_mean = df_amount_sum.mean()

#.to_frame()でdf_amount_sumをSerise->dfへ変換
#qurey内の変数は直前に@をつけないとquery外の変数にアクセスできない
#df_amount_over_average;df_amount_sumから平均以上のcustomer_idを抽出
df_amount_sum.to_frame().query(" amount > @receipt_only_member_mean ").head()

                amount
customer_id
CS001115000010    3044
CS001205000006    3337
CS001214000009    4685
CS001214000017    4132
CS001214000052    5639

<details>
<summary>ヒント1</summary>
「pandas 要素ごと 集計」 などで今回使える機能に関する記事が見つかります。
</details>

<details>
<summary>ヒント2</summary>
メソッド名は "groupby" です。
</details>

---
## 問6. DataFrameの結合
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は先頭5件だけ表示せよ。

In [58]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer.query("not customer_id.str.startswith('Z')", engine="python")

In [59]:
#やること
#df_customerとdf_receiptの結合
#顧客情報を女性のみに絞り込む
#欠損値処理
#各顧客ごと(女性のみ)の売上金額合計算出(groupby)

#df_customerとdf_receiptの結合
#pd.merge(左に結合するdf , 右に結合するdf)
df_customer_and_receipt = pd.merge(df_customer , df_receipt)

#顧客情報を女性のみに絞り込む
df_customer_and_receipt_women = df_customer_and_receipt.query("gender_cd == 1")

#欠損値処理
#.fillna(欠損地を補う値(変数))
df_customer_and_receipt_women_fillna =  df_customer_and_receipt_women.fillna(0)

#各顧客ごと(女性のみ)の売上金額合計算出(groupby)
df_customer_and_receipt_women_fillna.groupby("customer_id")["amount"].sum().to_frame().head()

                amount
customer_id
CS001113000004    1298
CS001114000005     626
CS001115000010    3044
CS001211000025     456
CS001212000027     448

<details>
<summary>ヒント1</summary>
タイトル通り 「pandas DataFrame 結合」などと調べれば必要な機能に関する記事が見つかります。  
</details>

<details>
<summary>ヒント2</summary>
"merge", "join"という似たメソッドがあります。  
今回の場合"merge"が便利でしょう。
</details>

---
## 問7. 時系列データ
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。なお、データは先頭5件を表示せよ。

In [60]:
#やる事
#YYYYMMD形式->日付型に変換
#顧客IDとともに表示

#YYYYMMD形式->日付型に変換
pd.to_datetime(df_customer['application_date'])

#顧客IDとともに表示
#df[['カラム名','カラム名']]；特定のカラムのみ抽出
df_customer[[ 'customer_id' , 'application_date' ]].head()

      customer_id  application_date
0  CS021313000114          20150905
1  CS037613000071          20150414
2  CS031415000172          20150529
3  CS028811000001          20160115
4  CS001215000145          20170605

<details>
<summary>ヒント1</summary>
「pandas datetime」などで該当の機能が見つかるかと思います。
</details>

<details>
<summary>ヒント2</summary>
"pd.to_datetime"というメソッドが使えるでしょう。このメソッドを適用する際ですが、for文を使わずに実装しましょう。

---
## 問8. 関数
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、結果は先頭5件を表示せよ。

In [61]:
#やること
#非会員を除く
#売上金額（amount）を顧客ID（customer_id）ごとに合計する
#合計した売上金額を常用対数化（底=10）する
#顧客ID、売上金額合計とともに表示する

#非会員を除く
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]

#売上金額（amount）を顧客ID（customer_id）ごとに合計する(この時dtype = Series)
df_receipt_amount_customer = df_receipt.groupby("customer_id")["amount"].sum().to_frame()



#合計した売上金額を常用対数化（底=10）する
#apply()関数は、引数に指定した関数を各列に適用することができる。
#np.log10で常常用対数をとれる
#顧客ID、売上金額合計とともに表示する
df_receipt_amount_customer["amount"].apply(np.log10).to_frame()

                  amount
customer_id
CS001113000004  3.113275
CS001114000005  2.796574
CS001115000010  3.483445
CS001205000004  3.298416
CS001205000006  3.523356
...                  ...
CS051513000004  2.741152
CS051515000002  2.423246
CS052212000002  2.283301
CS052514000001  2.250420
ZZ000000000000  7.093247

[8307 rows x 1 columns]

---
## 問9. 欠損数
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [62]:
#.sunull()；欠損したデータにはtrue,そうでないデータにはfalseを返す
#.isnull().sum()でtureの個数の合計を表示できる
df_product.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

---
## 問10. 欠損値の除去
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [63]:
df_product_1 = df_product.dropna()

In [64]:
len(df_product), len(df_product_1)

(10030, 10023)

---
## 問11. 欠損値の穴埋め
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とせよ。補完実施後、各項目について欠損が生じていないことも確認すること。

In [65]:
#やること
#単価と原価の平均値を求める(小数第1位未満を四捨五入)
#欠損値を補完

#単価と原価の平均値を求める(小数第1位未満を四捨五入)
mean = df_product[['unit_price' , 'unit_cost']].mean()

#欠損値を補完
df_product_2 = df_product.fillna(mean)
df_product_2.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64

### 余談
ChatGPTやBing AIに聞けば大抵のことは教えてくれます。  
何回か入力文章を吟味しないといけないこともありますが、知らないことを調べる場合は自分で検索するよりも早いです。  
ただ、ChatGPTなどは嘘をつく場合があるので、自分でソースを参照する姿勢は必要です。  

これはBingAIの回答例です。  

![BingAIの回答例](./imgs/pandas/BingAI.png)